<!-- templates/home.html -->
<!-- base.html에서 변동 -->

{% extends 'base.html' %}
<!-- 저장된 이미지를 불러오기 위함 -->
{% load static %}

{% block title %}Home - BaseballGame⚾{% endblock %}

{% block content %}
<div id="home-container">
  <div class="home-cheer-phrase">
    <p class="shake" id='cheerPharse'></p>
    <p class="shake">👤👥👤👥 👤👥👤👥 👤👤👥👥👤👥👥 👤👥👤👥👥👤👥👤👥👤👥👤👥👥👤👥👤👥👤👥👤👥</p>
    <p class="shake">👤👤👥👥👤👥👥👤👥👤👥👤👥👥👤👥👤👥 👤👥👤👥👥👤👥 👤👥👤👥👤👥👤👥</p>
    <p class="shake">👤👤👥👥👤👥👤👥👤👥👥👤👥👤👥 👤👥👤👥👤👥👤👥👥👤👥 👤👥👤👥</p>
    <p class="shake">👥👥👥👤👥👤👥👤👥👤👥👤👥👥👤👥👤👥👤👥👥👥👤👥👤👥👤 👥👤</p>
  </div>

  <div class="home-showing-images">
    <img src="{% static 'images/pitcher.svg' %}" alt="Logo" width="100" height="100" class="">
    <img src="{% static 'images/baseballBall.svg' %}" alt="Logo" width="" height="" id="movingBall" class="moving-ball">
    <img src="{% static 'images/hitter.svg' %}" alt="Logo" width="100" height="100" class="">
  </div>
  
  <div class="home-button-div">
    <button type="button" onClick="handleGoSoloPlay1()" class="btn btn-primary btn-lg">혼자 하기</button>
    {% comment %} <button type="button" onClick="handleGoMultiPlay1()" class="btn btn-success btn-lg">다른 사람과 하기</button> {% endcomment %}
  </div>
</div>

<script>
  const cheerMessage = [
    '와아아!!', '이겨라!!', '우리팀 이겨라!!', '아주라!!', '와아ㅏㅇ아아어아어어ㅏ', "부산갈매기!!!", 'ㅇ와!!!', 
    '오오오오!!', '치킨 좀 시키바라!!!!', '옴뇸뇸', '옴뇸', '옴뇸뇸뇸뇸뇸', '와! 와! 와! 와! 와!', '쳐라 저 놈을 매우쳐라!!!',
    '영차! 영차! 영차!', '으아아아아앙아아아앙ㅇ아', '호옹이!!!!!', '이기는 팀 우리팀!!!!!', '야구공은 내꺼!!!', '여기 맥주', '축배를 들어라!!!!'
  ]
  
  const intervalId = setInterval(cheerMessageFunc, 3000);

  function handleGoSoloPlay1(){
    clearInterval(intervalId);
    window.location.href = "{% url 'soloPlay1' %}";
  }
  function handleGoMultiPlay1(){
    clearInterval(intervalId);
    window.location.href = "{% url 'multiPlay1' %}";
  }
  
  cheerMessageFunc()
  const movingBall = document.getElementById("movingBall") 


  // home.html의 <script> 태그 안에 추가
  document.addEventListener("DOMContentLoaded", function() {
    const cheerPhrases = document.querySelectorAll(".home-cheer-phrase p");
    cheerPhrases.forEach(phrase => {
      phrase.classList.add("shake");
      const randomDelay = Math.random() * 0.5; // 0초에서 2초 사이의 랜덤 지연 시간
      phrase.style.animationDelay = `${randomDelay}s`;
    });
    
    setTimeout(() => {
      movingBall.classList.add("moving-ball-1")
    }, 300)
    setTimeout(() => {
      movingBall.classList.add("moving-ball-2")
    }, 800)
    
  });

  function cheerMessageFunc(){
    const cheerPharse = document.getElementById("cheerPharse")
    let tmpArray = []
    let tmpMessage = ""
    while(tmpArray.length < 9){
      let num = Math.floor(Math.random()*cheerMessage.length) 
      if(!tmpArray.includes(num)){
        tmpArray.push(num)
      }
    }
    for(let i = 0; i < tmpArray.length; i++){
      tmpMessage = tmpMessage + ' ' + cheerMessage[tmpArray[i]]
    }
    cheerPharse.innerText = tmpMessage
  }

</script>
{% endblock %}