{% extends 'base.html' %}
{% load static %}

{% block title %}soloplay - BaseballGame⚾{% endblock %}

{% block content %}
<div id="soloPlay2Container" class="soloPlay2-container">
  {% comment %} 내 상황 {% endcomment %}
  <div>
    {% comment %} 숫자 확인 판 {% endcomment %}
    <div class="number-check-div">
      <h2>수 거름판</h2>
      <div class="number-check"></div>
    </div>
    {% comment %} 내 입력판 {% endcomment %}
    <div>
      <h1>내 현황판</h1>
      <table id="myBoard" class="my-board status-board">
        <tr>
          <th scope="col">회차</td>
          <th scope="col">번호1</td>
          <th scope="col">번호2</td>
          <th scope="col">번호3</td>
          <th scope="col">결과</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>아웃</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>0S 2B</td>
        </tr>
      </table>
    </div>
  </div>
  {% comment %} 입력판 {% endcomment %}
  <div>
    {% comment %} 숫자 입력 판 {% endcomment %}
    <div>
      <div>
        <p>당신 차례입니다.<br>숫자 3개를 입력해주세요.</p>
        <p>입력한 숫자: <span id="throwNumbers"></span></p>
      </div>
      <div class="numpad">
        <button class="numpad-button" onclick="appendNumber(1)">1</button>
        <button class="numpad-button" onclick="appendNumber(2)">2</button>
        <button class="numpad-button" onclick="appendNumber(3)">3</button>
        <button class="numpad-button" onclick="appendNumber(4)">4</button>
        <button class="numpad-button" onclick="appendNumber(5)">5</button>
        <button class="numpad-button" onclick="appendNumber(6)">6</button>
        <button class="numpad-button" onclick="appendNumber(7)">7</button>
        <button class="numpad-button" onclick="appendNumber(8)">8</button>
        <button class="numpad-button" onclick="appendNumber(9)">9</button>
        <button class="numpad-button" onclick="throwball()">입력</button>
        {% comment %} <button class="numpad-button" onclick="clearInput()">C</button> {% endcomment %}

        <button class="numpad-button" onclick="appendNumber(0)">0</button>
        <button class="numpad-button" onclick="deleteLast()">⌫</button>
      </div>
    </div>
    {% comment %} 승리 패배 표시 {% endcomment %}
    <div></div>
    {% comment %} 다시하기 버튼 {% endcomment %}
    <div></div>
  </div>
  {% comment %} 상대 상황 {% endcomment %}
  <div>
    <h1>상대방 현황판</h1>
      <table id="enemyBoard" class="enemy-board status-board">
        <tr>
          <th scope="col">회차</td>
          <th scope="col">번호1</td>
          <th scope="col">번호2</td>
          <th scope="col">번호3</td>
          <th scope="col">결과</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>아웃</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>0S 2B</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<script>
  const number_check_div = document.querySelector(".number-check")
  for(let i = 0 ; i < 10; i++ ){
    let new_div = document.createElement('div')
    new_div.innerText = i
    new_div.className = 'checking-number'

    // 클릭 횟수를 추적하기 위한 변수
    let clickCount = 0
    
    // 클릭 이벤트 리스너 추가
    new_div.addEventListener('click', function() {
      clickCount++
      
      // 클릭 횟수에 따라 색상 변경
      if (clickCount === 1) {
        new_div.style.backgroundColor = 'green'
        new_div.style.color = "white"
      } else if (clickCount === 2) {
        new_div.style.backgroundColor = 'blue'
        new_div.style.color = "white"
      } else if (clickCount === 3) {
        new_div.style.backgroundColor = 'red'
        new_div.style.color = "white"
      } else {
        new_div.style.backgroundColor = ''
        new_div.style.color = ""
        clickCount = 0
      }
    });

    number_check_div.appendChild(new_div)
  }

  let my_numbers = {{ selectedNumbers|safe }}
  let computerNumbers = {{ computerNumber }}
  console.log(computerNumbers)
  

  {% comment %} 숫자 야구 게임 숫자 입력 및 정리 {% endcomment %}
  function appendNumber(number) {
    {% comment %} number =  {% endcomment %}
    const throwNumbers = document.getElementById('throwNumbers');
    if(throwNumbers.innerText.length < 3 && !throwNumbers.innerText.includes(number)){
      throwNumbers.innerText += number;
      {% comment %} document.getElementById('selectedNumbers').innerText = throwNumbers.innerText;  {% endcomment %}
      document.querySelector(`button[onclick="appendNumber(${number})"]`).classList.add('selected-number')
    }
  }

  function clearInput() {
    const throwNumbers = document.getElementById('throwNumbers');
    throwNumbers.innerText = '';
    {% comment %} document.getElementById('selectedNumbers').innerText = '' {% endcomment %}
    syncButtonStates()
  }

  function deleteLast() {
    const throwNumbers = document.getElementById('throwNumbers');
    throwNumbers.innerText = throwNumbers.innerText.slice(0, -1);
    {% comment %} document.getElementById('selectedNumbers').innerText = throwNumbers.innerText {% endcomment %}
    syncButtonStates()
  }

  function syncButtonStates() {
    const throwNumbers = document.getElementById('throwNumbers')
    const currentNumbers = throwNumbers.innerText.split('')
    const buttons = document.querySelectorAll('.numpad-button')
    buttons.forEach((button) => {
      if(!currentNumbers.includes(button.textContent)){
        button.classList.remove('selected-number')
      }else{
        button.classList.add('selected-number')
      }
    })
  }

  function throwball() {
    clearInput()
  }
</script>

{% endblock %}